
                <div class="subredditvars-r-indianboysontinder">
    <header style="box-shadow: 10px 10px 27px -13px rgba(0,0,0,0.75);" data-redditstyle="true" class="_1tvdSTbdxaK-BnUbzUIqIY _2GyPfdsi-MbQFyHRECo9GO cx1ohrUAq6ARaXTX2u8YN   flex-grow-0 flex-shrink-0 top-0 left-0 right-0 fixed z-[80] ">
        <div class="_2vkeRJojnV7cb9pMlPHy7d a35Fm2MurU14xdNybLiZp">
            <div class="_3dnbqz69WJTFCss8wl7Wlk">
                <span class="_1RIl585IYPW6cmNXwgRz0J">Press J to jump to the feed. Press question mark to learn the rest of the keyboard shortcuts</span>
                <div class="_32Xa3voy05uAFz3ZnopP_S " data-testid="jump-to-content">
                    <button role="button" tabindex="0" class="_3KaTO_3YaHK3SMocnu8jV9 _2iuoyPiKHN3kfOoeIQalDT _3zbhtNO0bdck0oYbYRhjMC HNozj_dKjQZ59ZsfEegz8 " style="margin-left: -500px;">Jump to content</button>
                    <div class="_1Bt_cwKVUG30M9eNB-9rU4 "></div>
                </div>
                <a aria-label="Home" class="_30BbATRhFv3V83DHNDjJAO" href="/">
                    <img height="40px" width="40px" src="~/img/logo.png" />
                    @* <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="_1O4jTk-dZ-VIxsCuYB6OR8 ">
                    <g>
                    <circle fill="#FF4500" cx="10" cy="10" r="10"></circle>
                    <path fill="#FFF" d="M16.67,10A1.46,1.46,0,0,0,14.2,9a7.12,7.12,0,0,0-3.85-1.23L11,4.65,13.14,5.1a1,1,0,1,0,.13-0.61L10.82,4a0.31,0.31,0,0,0-.37.24L9.71,7.71a7.14,7.14,0,0,0-3.9,1.23A1.46,1.46,0,1,0,4.2,11.33a2.87,2.87,0,0,0,0,.44c0,2.24,2.61,4.06,5.83,4.06s5.83-1.82,5.83-4.06a2.87,2.87,0,0,0,0-.44A1.46,1.46,0,0,0,16.67,10Zm-10,1a1,1,0,1,1,1,1A1,1,0,0,1,6.67,11Zm5.81,2.75a3.84,3.84,0,0,1-2.47.77,3.84,3.84,0,0,1-2.47-.77,0.27,0.27,0,0,1,.38-0.38A3.27,3.27,0,0,0,10,14a3.28,3.28,0,0,0,2.09-.61A0.27,0.27,0,1,1,12.48,13.79Zm-0.18-1.71a1,1,0,1,1,1-1A1,1,0,0,1,12.29,12.08Z"></path>
                    </g>
                    </svg>*@
                    <h6 style="font-weight:600;margin-left:5px;">CLIQUE</h6>
                    @* <svg class="_1bWuGs_1sq4Pqy099x_yy-" viewBox="0 0 57 18" xmlns="http://www.w3.org/2000/svg">
                    <g fill="#1c1c1c">
                    <path d="M54.63,16.52V7.68h1a1,1,0,0,0,1.09-1V6.65a1,1,0,0,0-.93-1.12H54.63V3.88a1.23,1.23,0,0,0-1.12-1.23,1.2,1.2,0,0,0-1.27,1.11V5.55h-1a1,1,0,0,0-1.09,1v.07a1,1,0,0,0,.93,1.12h1.13v8.81a1.19,1.19,0,0,0,1.19,1.19h0a1.19,1.19,0,0,0,1.25-1.12A.17.17,0,0,0,54.63,16.52Z"></path>
                    <circle fill="#FF4500" cx="47.26" cy="3.44" r="2.12"></circle>
                    <path d="M48.44,7.81a1.19,1.19,0,1,0-2.38,0h0v8.71a1.19,1.19,0,0,0,2.38,0Z"></path>
                    <path d="M30.84,1.19A1.19,1.19,0,0,0,29.65,0h0a1.19,1.19,0,0,0-1.19,1.19V6.51a4.11,4.11,0,0,0-3-1.21c-3.1,0-5.69,2.85-5.69,6.35S22.28,18,25.42,18a4.26,4.26,0,0,0,3.1-1.23,1.17,1.17,0,0,0,1.47.8,1.2,1.2,0,0,0,.85-1.05ZM25.41,15.64c-1.83,0-3.32-1.77-3.32-4s1.48-4,3.32-4,3.31,1.78,3.31,4-1.47,3.95-3.3,3.95Z"></path>
                    <path d="M43.28,1.19A1.19,1.19,0,0,0,42.09,0h0a1.18,1.18,0,0,0-1.18,1.19h0V6.51a4.15,4.15,0,0,0-3-1.21c-3.1,0-5.69,2.85-5.69,6.35S34.72,18,37.86,18A4.26,4.26,0,0,0,41,16.77a1.17,1.17,0,0,0,1.47.8,1.19,1.19,0,0,0,.85-1.05ZM37.85,15.64c-1.83,0-3.31-1.77-3.31-4s1.47-4,3.31-4,3.31,1.78,3.31,4-1.47,3.95-3.3,3.95Z"></path>
                    <path d="M17.27,12.44a1.49,1.49,0,0,0,1.59-1.38v-.15a4.81,4.81,0,0,0-.1-.85A5.83,5.83,0,0,0,13.25,5.3c-3.1,0-5.69,2.85-5.69,6.35S10.11,18,13.25,18a5.66,5.66,0,0,0,4.39-1.84,1.23,1.23,0,0,0-.08-1.74l-.11-.09a1.29,1.29,0,0,0-1.58.17,3.91,3.91,0,0,1-2.62,1.12A3.54,3.54,0,0,1,10,12.44h7.27Zm-4-4.76a3.41,3.41,0,0,1,3.09,2.64H10.14A3.41,3.41,0,0,1,13.24,7.68Z"></path>
                    <path d="M7.68,6.53a1.19,1.19,0,0,0-1-1.18A4.56,4.56,0,0,0,2.39,6.91V6.75A1.2,1.2,0,0,0,0,6.75v9.77a1.23,1.23,0,0,0,1.12,1.24,1.19,1.19,0,0,0,1.26-1.1.66.66,0,0,0,0-.14v-5A3.62,3.62,0,0,1,5.81,7.7a4.87,4.87,0,0,1,.54,0h.24A1.18,1.18,0,0,0,7.68,6.53Z"></path>
                    </g>
                    </svg>*@
                </a>
                <div style="opacity:0;" aria-label="Start typing to filter your communities or use up and down to select." class="_3jiriKeNer8y0-1r6oWIFM _3NgME2HFZvM-tgAE3s5hXS" role="navigation">
                    <button class="h-jI8r2f9ozTNqu_2TBeY" tabindex="-1">
                        <span class="_1GieMuLljOrqnVpRAwz7VP">
                            <h1 class="_eYtD2XCVieq6emjKBH3m">Home</h1>
                        </span>
                        <i class="eZQ5o2PrhR59wkAtPbxMU icon icon-home_fill"></i>
                    </button>
                </div>
                <div class="_1blFGqU8stoZgWSZ8MQNpf _3jiriKeNer8y0-1r6oWIFM _2dlTXDaX9JuL0bekTwhV18 " id="SearchDropdown">
                    <div class="_1DeR7_QiQnu2UK0e2dDfYD">
                        <form action="/home/searchPost" autocomplete="off" class="_1ugesNSGtWAUEmFe-hdnyI" method="get" role="search">
                            <label class="_1t0x2fnX0IYp1-sp47CSHI" for="header-search-bar">
                                <div aria-hidden="true" class="cNtxQ5c1PdvcDe82u_yz9"><i class="_3ylUT2QX58nnEl8r4H26ys icon icon-search"></i></div>
                                <span aria-live="assertive" class="_1RIl585IYPW6cmNXwgRz0J">Search all of Reddit</span>
                            </label>
                            <input type="search" class="_1K7ubH9z5v9E6C19j2fjQU" id="header-search-bar" name="search" placeholder="Search Clique" value="">
                        </form>
                    </div>
                </div>
            </div>
            <div class="_2u8LqkbMtzd0lpblMFbJq5">
                @*<div class="x0hiXHicn7r3BG9m1FJH4 _23q1waDr4n_2fR5A7zcZzb ">
                    <div class="_1vXXD2qKLnHetdKvisFzBD">
                        <a class="_3dZnYgFFpifT-M_Vs2FAq6" href="/r/popular/"><i class="icon icon-popular"></i></a>
                        <span class="_3dZnYgFFpifT-M_Vs2FAq6">
                            <button class="_1t5i5bNwZeJ7FuUXZ9rM-p" id="COIN_PURCHASE_DROPDOWN_ID" aria-label="coin">
                                <div class="jEUbSHJJx8vISKpWirlfx"><i class="_1F-AgkBVxGxQsEfI3oVkVa icon icon-coins"></i></div>
                            </button>
                        </span>
                    </div>
                </div>*@
                <div class="_19oWd7e3z7-ztUGzdIoCR7">
                    <div id="email-verification-tooltip-id" class="XZK-LTFT5CgGo9MvPQQsy">
                        <div id="change-username-tooltip-id" class="XZK-LTFT5CgGo9MvPQQsy _20HfCAFz3ot1MW1o29ZoGZ">
                            @*<span class="_2zZ-KGHbWWqrwGlHWXR90y"><a class="_1x6pySZ2CoUnAfsFhGe7J1" href="https://www.reddit.com/chat" aria-label="Chat"><i class="_3uVYL9qgX3QSEa_F4F-DPv icon icon-chat"></i></a></span>*@
                            @*<span class="_2zZ-KGHbWWqrwGlHWXR90y">
                                <button aria-expanded="false" aria-haspopup="true" aria-label="Open notifications inbox" class="PH-V9ggsF2mi5JTDmDqdR _1Tdh9XCXmEOaXAlloLqrmH">
                                    <div class="FOioVk_DUTmZIKKa82Mm1"><i class="_3uVYL9qgX3QSEa_F4F-DPv icon icon-notification"></i></div>
                                </button>
                            </span>*@
                            <span class="_2zZ-KGHbWWqrwGlHWXR90y">
                                <a href="/home/createpost">

                                <button class="_1x6pySZ2CoUnAfsFhGe7J1" aria-label="Create Post"><i class="_3uVYL9qgX3QSEa_F4F-DPv icon icon-add"></i></button>
                                
                                </a>
                            </span>
                            @*<span class="_2zZ-KGHbWWqrwGlHWXR90y _2I12Htze2UzJmmfnrgYJOn "><a class="_24UNt1hkbrZxLzs5vkvuDh" href="https://ads.reddit.com?utm_source=d2x_consumer&amp;utm_name=top_nav_cta" target="_blank" rel="noopener noreferrer" aria-label="Advertise"><i class="_1jAt0x8BSB9mgoXbsDuKJ6 icon icon-topic_activism" style="margin-left: 12px;"></i><span class="_1vP7zMn-UGF6u5e-GPHAvN">Advertise</span></a></span><span class="_2zZ-KGHbWWqrwGlHWXR90y"></span>*@
                        </div>
                        @{
                            string name = Context.Session.GetString("name");
                            string image = Context.Session.GetString("image");
                        }
                        @if (name != null)
                        {
                            <div class="header-user-dropdown">
                                <button aria-expanded="false" aria-haspopup="true" id="chirag" class="_10K5i7NW6qcm-UoCtpB3aK _1pA8z73SZ1olP5KMKFN4_Z _18X7KoiaLuKbuLqg4zE8BH ">
                                    <span class="DFKWwVItcycZV1bKUOyay">
                                        <span class="_3KfbpxpA8Esu_3UHTmIvfw _2OFo5eaD2V6ZcJsYBuYned" id="email-collection-tooltip-id">
                                            <div class="efdkOLo3oigH_95whTYCp _1zyV-XmoYeSNGWjfZiXbPc">
                                                <div class="_1cyAeeYDGrx7MPL_jRwKZ -z42jjKOFdAdFhdJ8mmI4  ">
                                                    <div class="_2_QqG5dG916znjlVV8ZCbw"></div>
                                                    <div class="_1XJXnCAngvZLEeLpB3oa4L">
                                                        @*<img alt="User avatar" class="ScrrUjzznpAqm92uwgnvO" src="~/img/@image">*@
                                                        <img alt="Subreddit Icon" role="presentation" src="~/img/@image" class="ScrrUjzznpAqm92uwgnvO" style="background-color: rgb(132, 214, 190);height:24px;width:24px;">
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="_1pHyKCBktIf_9WFW9jjM3P"><span class="_2BMnTatQ5gjKGK5OWROgaG">@name</span><span class="Rz5N3cHNgTGZsIQJqBfgk"><i class="_2wYneOcJEB6o4mj1NedmsR icon icon-karma_fill"></i><span>Welcome</span></span></span>
                                        </span>
                                       @* <i class="_3x3dhQasGAuYcXVQ02QUzy icon icon-caret_down"></i>*@
                                    </span>
                                    <span class="_1RIl585IYPW6cmNXwgRz0J">User account menu</span>
                                </button>
                            </div>
                        }
                        else
                        {

                            <div class="">
                                <a href="/register/Login">
                                    <button style="display:flex;justify-content:center;height:1rem; width:5rem; background-color:orangered;border-radius:5px;padding:1rem;color:white;font-weight:500;" aria-expanded="false" aria-haspopup="true" id="" class="btn btn-primary _10K5i7NW6qcm-UoCtpB3aK _1pA8z73SZ1olP5KMKFN4_Z _18X7KoiaLuKbuLqg4zE8BH ">
                                        Login
                                    </button>
                                </a>
                            </div>
                        }
                        <iframe src="https://www.reddit.com/account/sso/one_tap/?experiment_d2x_2020ify_buttons=enabled&amp;experiment_d2x_onboarding=enabled" class="_25r3t_lrPF3M6zD2YkWvZU _2qW2MlTCwrBhUAXSCWhbPD"></iframe>
                    </div>
                </div>
            </div>
        </div>



        <div class="_1C1Dn0NhEGQkEA9tDGKKSH  OEQgz7Lkj--3zFaLL7BUF _1HWVXJoazfrENIGlRprCVp _2elztvdigLcbcRyu_4wcFW"><img class="_3BcAFuYpz37S0WFvgyWCUN" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAE9 0lEQVRoQ9WYW0hlZRTHf94TIXXAYRQzQwmFQQSVYSZ6UlESH+whRxMDX6IHJ1AQCXFQkSFUCIUeCkETUx/CF1FB8ClNpFFEX8T UKWkyxgFngjRvJ9Z278Pe57Yv51Kul33O3mut7/9fa32X9UVxwyXqhuMn0gR+BbJ0QfsU+CaYIEaSgEuAulzKQ3lGR0fLzzngA 6ckIkpAA68HGxWlQHCMw7Ghg4i5AhBIBE4d+HTO3OZgscB5bW0tk5OTbtPV1VXu3bv3v8/AZ8DXwAmQODw8TFNTE0dHR6SlpWl kHFeCY0MLGSgE1lW9D4Fp4AdAfmvyO5BpwZdflVATuF5ijJIAnAUDMpBtuAhIYa+GC7RhFQvxIFoGQh2YiJXQR8AU8C6wE+Lg+ HQXjkhFNAvhICCREhLh8m3IRLgGEQIXgGxgmqwA3wHfqt9CUmGhIvAe8KMDRPGyQzuwc5sES+AXIEe8tbS0MDAwYAnL2dkZt2/ f5tWrV5p+nNOsmBH4EmjzgeoKiE5ISOD01NEZzO3y6uqKmJgY7X8S8DdwB/hDffkx8L2/yPgj0AwMipGAfPjwIS9fvmRmZsbtx 9fJ0lL4/Sitra1RVFQUyMUn6hwyncTPgLcrKyuZm5Ne41ok3SkpKVRVVRmIBAPal63aH7gbH9GJj4/n/FyZKk+AL/R2nhmQqDf v7++TnZ3t1uvu7ubx48dsbGxQUFAQasxe/pKSkpQ5Ijg0SUxM1MrVgFn/R35fNTQ0MDY25jZ8/fo1ycnJHB8fK89Iya1bt9ja2 iIjI8M9pJYd/R6jJ2DoWTUrMRocHKS5WaZFZEWifnIibcS1TE1NKfPRLwH5ODEx4TY4PDwkKysLWfb+K6mpqWF6WlqJa/HsoQ0 ZCPXKEg7SISOQk5PD3t6eAePFxYV+TTfFr6tpRXd0dJTGxsaAdgEJLC0t8eDBA8WBbDDqvY2Xw9jYWC4vL5X3vb29jIyMsLNzf Xq2mkUNfGdnJ11dXVppBLRva2ujr6+vF+hwl5QOnUsAa8BkAF9gdnd3yc3N5e7du2xubhrIic3CwgJlZWWm0ZcgSMb0Ivb3799 neXnZy97XCmSYzerMvtJA+yPga6MxRWtDQUgJOU9Rx5U7mToDaQ9FWbPekPLRbRwGlbq6OsNKZQNbUKr+bvB8nYX+kd1bDlieK Q4KQZDGdggoc9HOhAyETXZTqWk5tebn51NeXu6Iil0CcpS9Y3VF0SNKTU1Vjh1WRGpdPaQFVC8uLubp06ey7HlNDn/HaeV2wS4 Bz3XdCgkrY6h+ZX3/yWtyBxjEVVJSglzAWpUwE/AZ7EAdme15sL29TV5enlW+dHR00NPTE1C/tLSUxcVF2fKV1tVOBt4B9trb2 3nyRPoIa2InCzbKx2+gzXpi21kQmlZIyF5jpqd+l/74T3/hMyPgaEl98eKF0lH5k/X1dQoL5fbdv1RXV0vr+jNQEkjPCgFHJMR IQEobqklmZiYHBwemtSh99+zsrJJMM2VTBZ0DpZwqKiqYn5838+v4e1xcnHYCsITNkpIOzbZ688zz589JT093DNTTcGVlRTmJq jd871t1bJeA5lfOwcptVH9/P62trVbH89IbHx9HLhJUsY3HtoEHgt+At7R39fX1CCAzGRoa4tGjR3q1N4G/zOx8fQ+WgN7n58B XNkAIgyEb+j5VQ0kgWCyO7G88gX8BA0iEQE02M2MAAAAASUVORK5CYII="><span class="_2hQKVL2Pm4yfkiqifapnBp">Found the internet!</span><i class="_1E59q-NCGBwN0Aq_bPsPKb icon icon-refresh_fill"></i></div>

</div>

                    <div class="_1C1Dn0NhEGQkEA9tDGKKSH  OEQgz7Lkj--3zFaLL7BUF _1HWVXJoazfrENIGlRprCVp _2elztvdigLcbcRyu_4wcFW"><img class="_3BcAFuYpz37S0WFvgyWCUN" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAE9 0lEQVRoQ9WYW0hlZRTHf94TIXXAYRQzQwmFQQSVYSZ6UlESH+whRxMDX6IHJ1AQCXFQkSFUCIUeCkETUx/CF1FB8ClNpFFEX8T UKWkyxgFngjRvJ9Z278Pe57Yv51Kul33O3mut7/9fa32X9UVxwyXqhuMn0gR+BbJ0QfsU+CaYIEaSgEuAulzKQ3lGR0fLzzngA 6ckIkpAA68HGxWlQHCMw7Ghg4i5AhBIBE4d+HTO3OZgscB5bW0tk5OTbtPV1VXu3bv3v8/AZ8DXwAmQODw8TFNTE0dHR6SlpWl kHFeCY0MLGSgE1lW9D4Fp4AdAfmvyO5BpwZdflVATuF5ijJIAnAUDMpBtuAhIYa+GC7RhFQvxIFoGQh2YiJXQR8AU8C6wE+Lg+ HQXjkhFNAvhICCREhLh8m3IRLgGEQIXgGxgmqwA3wHfqt9CUmGhIvAe8KMDRPGyQzuwc5sES+AXIEe8tbS0MDAwYAnL2dkZt2/ f5tWrV5p+nNOsmBH4EmjzgeoKiE5ISOD01NEZzO3y6uqKmJgY7X8S8DdwB/hDffkx8L2/yPgj0AwMipGAfPjwIS9fvmRmZsbtx 9fJ0lL4/Sitra1RVFQUyMUn6hwyncTPgLcrKyuZm5Ne41ok3SkpKVRVVRmIBAPal63aH7gbH9GJj4/n/FyZKk+AL/R2nhmQqDf v7++TnZ3t1uvu7ubx48dsbGxQUFAQasxe/pKSkpQ5Ijg0SUxM1MrVgFn/R35fNTQ0MDY25jZ8/fo1ycnJHB8fK89Iya1bt9ja2 iIjI8M9pJYd/R6jJ2DoWTUrMRocHKS5WaZFZEWifnIibcS1TE1NKfPRLwH5ODEx4TY4PDwkKysLWfb+K6mpqWF6WlqJa/HsoQ0 ZCPXKEg7SISOQk5PD3t6eAePFxYV+TTfFr6tpRXd0dJTGxsaAdgEJLC0t8eDBA8WBbDDqvY2Xw9jYWC4vL5X3vb29jIyMsLNzf Xq2mkUNfGdnJ11dXVppBLRva2ujr6+vF+hwl5QOnUsAa8BkAF9gdnd3yc3N5e7du2xubhrIic3CwgJlZWWm0ZcgSMb0Ivb3799 neXnZy97XCmSYzerMvtJA+yPga6MxRWtDQUgJOU9Rx5U7mToDaQ9FWbPekPLRbRwGlbq6OsNKZQNbUKr+bvB8nYX+kd1bDlieK Q4KQZDGdggoc9HOhAyETXZTqWk5tebn51NeXu6Iil0CcpS9Y3VF0SNKTU1Vjh1WRGpdPaQFVC8uLubp06ey7HlNDn/HaeV2wS4 Bz3XdCgkrY6h+ZX3/yWtyBxjEVVJSglzAWpUwE/AZ7EAdme15sL29TV5enlW+dHR00NPTE1C/tLSUxcVF2fKV1tVOBt4B9trb2 3nyRPoIa2InCzbKx2+gzXpi21kQmlZIyF5jpqd+l/74T3/hMyPgaEl98eKF0lH5k/X1dQoL5fbdv1RXV0vr+jNQEkjPCgFHJMR IQEobqklmZiYHBwemtSh99+zsrJJMM2VTBZ0DpZwqKiqYn5838+v4e1xcnHYCsITNkpIOzbZ688zz589JT093DNTTcGVlRTmJq jd871t1bJeA5lfOwcptVH9/P62trVbH89IbHx9HLhJUsY3HtoEHgt+At7R39fX1CCAzGRoa4tGjR3q1N4G/zOx8fQ+WgN7n58B XNkAIgyEb+j5VQ0kgWCyO7G88gX8BA0iEQE02M2MAAAAASUVORK5CYII="><span class="_2hQKVL2Pm4yfkiqifapnBp">Found the internet!</span><i class="_1E59q-NCGBwN0Aq_bPsPKb icon icon-refresh_fill"></i></div>
                </div>
                